# Environments
.env
.legalvenv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# Django stuff:
*.log
*.jpg
local_settings.py
db.sqlite3
db.postgresql
db.sqlite3-journal
*.pot
*.png
*.svg
manage.py
migrations/
images/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
